
  <div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h4><b>Liste des Pilotes</b></h4>
            </div>
          </div>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <tr>
                <th>Numéro</th>
                <th>Nom</th>
                <th>Adresse</th>
                
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pilote of pilotes">
              <td>{{pilote.numPilote}}</td>
              <td>{{pilote.nomPilote}}</td>
              <td>{{pilote.adresse}}</td>
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  

  